/* Hide everything except the video player */
#start,  /* hamburger icon and youtube icon */
#center,  /* search bar */
#end,  /* create, notifications and user icon */ 
#panels, /* right side bar ads section */
#chat-container, /* right side stram chats section */
#donation-shelf, /* right side bar donation section */
#guide-inner-content, /* shorts sidebar */
#related, /* recommendations */ 
#comments  /* comments section */ {
  display: none !important;
}

.zenmode-youtube {
  background: #000;
  color: #fff;
}
