@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body {
  width: 200px;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}

#status {
  font-size: 18px;
  font-weight: bold;
}
